* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
.container {
  width: 1240px;
  margin: 0 auto;
  padding: 20px;
}
.stars-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* stays behind everything */
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}
#stars,
#stars2,
#stars3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background-repeat: repeat;
  animation: moveStars linear infinite;
}

#stars {
  background-image: radial-gradient(white 1px, transparent 1px);
  background-size: 50px 50px;
  animation-duration: 60s;
  opacity: 0.5;
}

#stars2 {
  background-image: radial-gradient(white 2px, transparent 2px);
  background-size: 100px 100px;
  animation-duration: 100s;
  opacity: 0.3;
}

#stars3 {
  background-image: radial-gradient(white 3px, transparent 3px);
  background-size: 150px 150px;
  animation-duration: 150s;
  opacity: 0.2;
}

@keyframes moveStars {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-1000px);
  }
}
.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__lists1 {
  display: flex;
  align-items: center;
  gap: 45px;
}

.hero__wrapper {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}

.nav__listest {
  padding: 12px 18px;
  color: white;
  background: blue;
  cursor: pointer;
  border-radius: 8px;
}

.nav__listest:hover {
  background-color: purple;
  color: white;
  transition: 0.7s ease-in-out;
  padding: 12px 18px;
  cursor: pointer;
}

.hero__name {
  color: yellowgreen;
}

.hero__btn {
  padding: 18px 24px;
  border-radius: 20px;
  background-color: blue;
  border: none;
  margin-top: 15px;
  color: white;
  cursor: pointer;
}

.hero__btn:hover {
  background-color: rgb(6, 6, 166);
  transition: 0.6s ease-in-out;
}

.hero__info {
  margin-top: 15px;
}

.nav__logo {
  color: blue;
}

.hero__img {
  width: 360px;
  margin-right: 30px;
  border-radius: 15px;
  margin-top: 20px;
}

.hero__family {
  color: white;
  margin-left: 68px;
}
.cardst-container {
  perspective: 1000px;
}

.cardst {
  width: 200px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.6s;
  margin-left: 30px;
  margin-top: 20px;
}

.cardst-container:hover .cardst {
  transform: rotateY(180deg);
}

.fronts,
.backs {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

.fronts {
  background: blue;
  color: white;
  border-radius: 10px;
}
.fronts img {
  border-radius: 10px;
}

.backs {
  background: rgba(200, 180, 255, 0.35);
  color: white;
  transform: rotateY(180deg);
  padding: 28px;
  padding-top: 100px;

  backdrop-filter: blur(10px); /* ✨ blur effect */
  -webkit-backdrop-filter: blur(10px); /* for Safari */
}

.cardst {
  display: flex;
  gap: 20px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.group {
  min-height: 100vh;
  padding-block: 50px;
}

.group-title {
  margin-block: 0 50px;
  font-size: 42px;
  font-weight: 600;
  color: #fff;
  line-height: 1.2;
  text-align: center;
}

.slider-input {
  display: none;
}

.group-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  width: 100%;
  max-height: 600px;
  height: 100%;
  margin-bottom: 100px;
  margin-inline: auto;
  transform-style: preserve-3d;
  color: white;
}

.cards {
  position: relative;
  width: 430px;
  height: 500px;
  margin-bottom: 20px;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.cards label {
  position: absolute;
  left: 0;
  right: 0;
  width: 430px;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.card {
  position: relative;
  height: 100%;
  padding: 30px 35px;
  background-color: #071c38;
  border-radius: 10px;
}

.image-box {
  display: flex;
  justify-content: space-between;
}

.card-pic {
  width: 86%;
  height: 220px;
  margin-top: 23px;
  border-radius: 5px;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
  object-fit: cover;
  transition: transform 0.3s linear;
}

.card-pic:hover {
  transform: scale(1.05);
}

#s1:checked ~ .cards #slide4,
#s2:checked ~ .cards #slide5,
#s3:checked ~ .cards #slide6,
#s4:checked ~ .cards #slide1,
#s5:checked ~ .cards #slide2,
#s6:checked ~ .cards #slide3 {
  transform: translate3d(-70%, 0, -220px);
}

#s1:checked ~ .cards #slide5,
#s2:checked ~ .cards #slide6,
#s3:checked ~ .cards #slide1,
#s4:checked ~ .cards #slide2,
#s5:checked ~ .cards #slide3,
#s6:checked ~ .cards #slide4 {
  transform: translate3d(-35%, 0, -120px);
}

#s1:checked ~ .cards #slide6,
#s2:checked ~ .cards #slide1,
#s3:checked ~ .cards #slide2,
#s4:checked ~ .cards #slide3,
#s5:checked ~ .cards #slide4,
#s6:checked ~ .cards #slide5 {
  transform: translate3d(0, 0, 0);
  z-index: 2;
}

#s1:checked ~ .cards #slide1,
#s2:checked ~ .cards #slide2,
#s3:checked ~ .cards #slide3,
#s4:checked ~ .cards #slide4,
#s5:checked ~ .cards #slide5,
#s6:checked ~ .cards #slide6 {
  transform: translate3d(35%, 0, -120px);
}

#s1:checked ~ .cards #slide2,
#s2:checked ~ .cards #slide3,
#s3:checked ~ .cards #slide4,
#s4:checked ~ .cards #slide5,
#s5:checked ~ .cards #slide6,
#s6:checked ~ .cards #slide1 {
  transform: translate3d(70%, 0, -220px);
}

.project {
  min-height: 100vh;
  padding-block: 50px;
}

.project-title {
  margin-block: 0 40px;
  font-size: 42px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
  padding-left: 0;
  list-style-type: none;
}

.list:hover .item:not(:hover) {
  filter: grayscale(1) blur(10px);
}

.item {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  transition:
    filter 0.4s linear,
    transform 0.4s linear,
    box-shadow 0.4s linear;
}

.item:hover {
  transform: scale(1.08);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
}

.pic {
  width: 230px;
  height: 100%;
  border-radius: 20px;
}

.caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  transform: translateY(100%);
  transition: transform 0.4s linear;
}

.item:hover .caption {
  transform: translateY(60%);
}
.heroes {
  display: flex;
  gap: 14px;
}
.capitan {
  width: 230px;
}

.hulk {
  width: 230px;
}

.spider {
  width: 230px;
}

.thor {
  width: 230px;
}

.ironman {
  width: 230px;
}

.capitan:hover {
  transform: scale(120%);
  transition: 0.9s ease-in-out;
}

.hulk:hover {
  transform: scale(120%);
  transition: 0.9s ease-in-out;
}

.spider:hover {
  transform: scale(120%);
  transition: 0.9s ease-in-out;
}

.thor:hover {
  transform: scale(120%);
  transition: 0.9s ease-in-out;
}

.ironman:hover {
  transform: scale(120%);
  transition: 0.9s ease-in-out;
}
.loyiha {
  margin-bottom: 100px;
  color: white;
  font-size: x-large;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
  color: yellowgreen;
  margin-bottom: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.kelajak {
  background-color: #203a43;
}
i .hero__kelajak {
  color: yellowgreen;
  margin-top: 30px;
}
.div__info {
  display: flex;
  gap: 45px;
  justify-content: center;
  color: white;
}
.hero-img {
  width: 130px;
  display: flex;
  margin-right: 100px;
  margin-top: 30px;
  gap: 10px;
}

.carden-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
}

.carden {
  position: relative;
  width: 250px;
  height: 320px;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.4s;
}

.carden img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s;
}

.carden::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.4s;
  z-index: 1;
}

.content {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  padding: 20px;
  color: rgb(0, 0, 0);
  z-index: 2;
  transition: 0.4s;
}

.carden-wrapper:hover .carden {
  transform: scale(0.9);
  filter: brightness(0.7);
}

.carden-wrapper .carden:hover {
  transform: scale(1.05);
  z-index: 10;
}

.carden-wrapper .carden:hover::before {
  opacity: 1;
}

.carden-wrapper .carden:hover .content {
  bottom: 0;
}

.carden-wrapper .carden:hover img {
  transform: scale(1.1);
}

.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  color: yellowgreen;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.abt {
  color: white;
}

html {
  scroll-behavior: smooth;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}
